.date-listing a {
    display: inline-flex;
    width: 100px;
}
.date-listing{
    display: inline-flex;
    justify-items: space-around;
    margin-left: 35%;
}
.year-listing{
    display: inline;
    justify-content: space-between;
    text-decoration: none;
    color:white;
    padding: 1.5%;
    margin-left: 5%;
    margin-right: 2%;
}
#active{
    border-bottom: 1px solid yellow;
    box-shadow: 0 2px 0 0 yellow;
}
.div-listing{

}

.ul-listing li{
    list-style-type:none;
    margin:0.8%;
}
.ul-listing li a{
    text-decoration: none;
    color: white;
}
.ul-listing li a:hover{
    color: black;
    border-bottom: 0.5px solid black;
}
